@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Slate */
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);

  /* Rest of colors */
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-sans: 'Outfit', sans-serif;

  --fs-base: 0.9375rem;
  --fs-xl: 1.375rem;

  --fw-normal: 400;
  --fw-bold: 700;

  /* Rest of vars */
  --rounded-xl: 0.75rem;
  --rounded-3xl: 1.25rem;

  --letter-spacing: 0.011875rem;

  --shadow: 0px 25px 25px 0px rgba(0 0 0 / 0.0477);

  --card-size: 20rem;
}

body {
  background-color: var(--clr-slate-300);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  line-height: normal;
}

h1,
h2,
h3 {
  color: var(--clr-slate-900);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.img {
  display: block;
  object-fit: cover;
  max-inline-size: 100%;
}

main {
  display: grid;
  place-items: center;
  min-block-size: 100dvh;
  padding-inline: 1rem;
}

.card {
  background-color: var(--clr-white);
  max-inline-size: var(--card-size);
  padding: 1rem;
  padding-block-end: 2.5rem;
  border-radius: var(--rounded-3xl);
  text-align: center;
  box-shadow: var(--shadow);
}

.card__img {
  border-radius: var(--rounded-xl);
}

.card__content {
  padding-inline: 1rem;
}

.card__title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  margin-block-start: 1.5rem;
}

.card__text {
  color: var(--clr-slate-500);
  letter-spacing: var(--letter-spacing);
  margin-block-start: 1rem;
}
